.pagination-container {
  max-width: 1280px;
  margin: 10px auto;
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  margin: 0 6px;
  padding: 4px 8px;
  border: 0.5px solid #e8e8e8;
  list-style-type: none;
  cursor: pointer;
}

.page-link {
  color: #808080;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 6px;
  background: transparent;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
